<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./assets/style/style.css">
</head>

<body>
    <div id="root">
        <div class="container">
            <div class="logo">
                <img width="200" src="https://www.boolean.careers/images/misc/logo.png" alt="Logo Boolean">
            </div>
            <div class="add_task">
                <input type="text" placeholder="Nuovo Todo" v-model="newTask" @keyup.enter="addTask">
                <button @click="addTask">Aggiungi</button>
                <div class="error" v-show="error">Devi scrivere qualcosa di almeno 5 caratteri!</div>
            </div>
            <div class="tasks" v-if="tasks.length > 0">
                <div class="item" v-for="(task, index) in tasks">
                    {{ task }}
                    <div class="delete_task">
                        <i class="fas fa-times" @click="removeTask(index)"></i>
                    </div>
                </div>
            </div>
            <div v-else>
                <p style="text-align: center; margin-top: 20px;">Non hai pi&ugrave; niente da fare!</p>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>